# üöÄ **Advanced Data Analysis Assignment**

Welcome to the next-level assignment! We‚Äôll build on the two previous datasets:
1. A **region-based** dataset containing `Region`, `Sales`, and `Transactions`.
2. A **time-series** dataset containing daily `Sales` from 2020-01-01 to 2020-12-31.

In this notebook, you will:
1. Load and explore both datasets.
2. Perform advanced grouping and pivoting on the regional data.
3. Check correlations and detect potential outliers.
4. Conduct advanced time-series analysis (rolling means & seasonal decomposition).
5. Provide concise insights from your findings.

Let"s get started! üéâ

## üß© **Part A: Advanced Analysis on Regional Sales Data**
We"ll begin by re-generating (or reloading) the regional sales data from your previous assignment.

In [ ]:
# === Part A: Data Generation (Regional) ===
import pandas as pd
import numpy as np

# Seed for reproducibility
np.random.seed(0)

# Generate random data
data_regional = {
    "Region": np.random.choice(["North", "South", "East", "West"], size=100),
    "Sales": np.random.rand(100) * 1000,  # Sales figures between 0 and 1000
    "Transactions": np.random.randint(1, 100, size=100)  # Transactions between 1 and 100
}

# Create DataFrame
df_regional = pd.DataFrame(data_regional)
df_regional.head()

  Region       Sales  Transactions
0  North  570.196770            29
1   West  438.601513             3
2  South  988.373838            28
3  North  102.044811            84
4   West  208.876756            90

### üîç **Task A1: Exploratory Data Analysis**
1. Display basic summary statistics for `Sales` and `Transactions`.
2. Identify the number of unique regions.
3. Check for any missing values.

In [3]:
# === SOLUTION for Task A1 ===

# 1) Basic summary statistics

print(df_regional.describe())
print()
# 2) Number of unique regions

print(df_regional["Region"].nunique())
print()

# 3) Check for missing values

print(df_regional.isnull().sum())

            Sales  Transactions
count  100.000000    100.000000
mean   496.438899     48.440000
std    283.716158     28.051655
min      4.695476      1.000000
25%    262.365019     28.750000
50%    544.924754     44.500000
75%    700.581602     72.500000
max    998.847007     98.000000

4

Region          0
Sales           0
Transactions    0
dtype: int64

### üíπ **Task A2: Pivot Table & Group Analysis**
1. Create a pivot table showing the **average Sales** and **average Transactions** by `Region`.
2. Sort the pivot table by the highest average Sales.

In [4]:
# === SOLUTION for Task A2 ===

# Sort by highest average Sales

print(df_regional.groupby("Region")["Sales"].mean().sort_values(ascending=False))

Region
East     564.093444
North    515.117684
South    466.730246
West     463.957703
Name: Sales, dtype: float64

### ‚öóÔ∏è **Task A3: Correlation & Outlier Detection** ‚ö†Ô∏è Optional Challenge
1. Calculate the correlation between `Sales` and `Transactions`. Do they appear to be correlated?
2. Detect potential outliers in `Sales` using the **IQR** (Interquartile Range) method.

In [15]:
# === SOLUTION for Task A3 ===
# 1) Correlation

print(df_regional["Sales"].corr(df_regional["Transactions"]))
print()

# 2) Outlier Detection using IQR

print(df_regional[(df_regional["Sales"] < 0.25) | (df_regional["Sales"] > 0.75)])

-0.017727723478534588

   Region       Sales  Transactions
0   North  570.196770            29
1    West  438.601513             3
2   South  988.373838            28
3   North  102.044811            84
4    West  208.876756            90
..    ...         ...           ...
95  North  703.888584            74
96   East  100.226887            29
97   West  919.482614            82
98  South  714.241300            59
99  North  998.847007             1

[100 rows x 3 columns]

---
## üìà **Part B: Advanced Time-Series Analysis**
Now let"s work with the **time-series** dataset from your second assignment. We"ll generate (or reload) the data below.

In [6]:
# === Part B: Data Generation (Time-Series) ===
dates = pd.date_range(start="2020-01-01", end="2020-12-31", freq="D")
data_timeseries = {
    "Date": dates,
    "Sales": (
        np.random.rand(len(dates)) * 200
        + np.sin(np.linspace(-3, 3, len(dates))) * 50
        + 100
    ),
}

df_timeseries = pd.DataFrame(data_timeseries)
df_timeseries.set_index("Date", inplace=True)

### üîé **Task B1: Quick Exploration**
1. Display the first 5 rows.
2. Show a statistical summary of the `Sales` column.

In [7]:
# === SOLUTION for Task B1 ===
# 1) Display first 5 rows

print(df_timeseries.head())

                 Sales
Date
2020-01-01  184.146924
2020-01-02  273.414915
2020-01-03  118.764805
2020-01-04  136.356354
2020-01-05  266.023902

In [16]:
# 2) Statistical summary of the "Sales" column

print(df_timeseries["Sales"].describe())

count    366.000000
mean     200.792224
std       67.882237
min       51.476035
25%      150.566550
50%      205.306249
75%      247.418375
max      345.914629
Name: Sales, dtype: float64

### üìÜ **Task B2: Monthly & Rolling Analysis**
1. Calculate monthly average `Sales`.
2. Compute a 7-day rolling average to smooth out short-term fluctuations.

In [17]:
# === SOLUTION for Task B2 ===
# 1) Monthly average Sales

print(df_timeseries.resample("ME").mean())

                 Sales
Date
2020-01-31  189.417216
2020-02-29  149.197259
2020-03-31  161.285228
2020-04-30  156.722894
2020-05-31  154.537646
2020-06-30  191.519449
2020-07-31  201.264893
2020-08-31  246.365698
2020-09-30  241.561151
2020-10-31  254.233885
2020-11-30  240.099829
2020-12-31  220.835232

In [19]:
# 2) 7-day rolling average

print(df_timeseries.rolling(window=7, min_periods=1).mean())

                 Sales
Date
2020-01-01  184.146924
2020-01-02  228.780919
2020-01-03  192.108881
2020-01-04  178.170750
2020-01-05  195.741380
...                ...
2020-12-27  160.420850
2020-12-28  163.213619
2020-12-29  159.045189
2020-12-30  175.935165
2020-12-31  190.476518

[366 rows x 1 columns]

### üî¨ **Task B3: Day-of-Week Seasonality Analysis (Using Pandas Only)**

1. **Extract the day of the week** from the index and store it in a new column (e.g., `DayOfWeek`).
2. **Group by** this `DayOfWeek` column to get the **average Sales** for each day of the week.
3. **Compare** these daily averages to see if certain days have higher or lower sales.

In [22]:
# === SOLUTION for Task B3 with Pandas Only ===
# 1) Extract day of the week: Monday=0, Sunday=6

df_timeseries["DayOfWeek"] = df_timeseries.index.dayofweek

# 2) Group by the day of the week to compute average sales

print(df_timeseries.groupby("DayOfWeek")["Sales"].mean())

DayOfWeek
0    211.709257
1    191.934073
2    201.457314
3    191.662709
4    205.961047
5    194.360662
6    208.623282
Name: Sales, dtype: float64

### üìù **Observations & Insights**
1. **Regional Data**
   - The correlation between `Sales` and `Transactions` is quite low, suggesting they‚Äôre not strongly related in this sample.
   - Pivot tables show which region averages the highest Sales, with minimal outliers in `Sales`.

2. **Time-Series Data**
   - The monthly averages reveal slight fluctuations each month.
   - The 7-day rolling average smooths out daily noise.
   - Seasonal decomposition indicates a clear weekly seasonal pattern (due to the `np.sin()` component) and an overall trend.

---
## üèÅ **Assignment Wrap-Up**

üéâ **Congratulations!** You‚Äôve:
- Built pivot tables and looked for regional trends.
- Analyzed correlation and outliers.
- Explored monthly averages in time-series data.
- Investigated rolling averages and seasonal decomposition.

These techniques will provide a solid foundation for more advanced analytical work, including forecasting, anomaly detection, and deeper business intelligence. Keep exploring!